@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Shadows+Into+Light&display=swap');
.App{
  background-color: #0D0708;
  position: fixed;
  top: 0;

}
.image{
  background-image: url('https://images.unsplash.com/photo-1529310399831-ed472b81d589?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80'); 
  background-size: cover;
  background-position: center;
  height: 300vh;
  
}
h1{
font-size: 70px;
letter-spacing: 3px;
font-family: 'Shadows Into Light';
color:#FFFFFF;
margin: 0;
background: linear-gradient(#251549,#251549ce,#1b0d31be,#0E070A);
padding-bottom: 10vh;
padding-left: 20px;
}
.quote{
  text-align: center;
  top: 200px;
  padding: 5vw;
  font-family: 'Shadows Into Light';
  color: rgb(255, 255, 255);
}
nav{
  color: white;
}


